.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../public/desktop-wallpaper-textured-on-markinternational-info-texture-for-pc.jpg");
  background-size: cover;
}
